__pycache__/
*.py[cod]
*.egg-info/
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.venv/
venv/
build/
dist/
site/
.agmh/
backups/
agmh.config.toml
sources.txt
destinations.txt
